In [16]:
import pandas as pd
from sqlalchemy import create_engine
import time

movies_errors=0
g_errors=0

In [17]:
#movie_start_time = time.time()
movies = "Resources/Movie data/tmdb_5000_movies.csv"
movies_df = pd.read_csv(movies)
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [18]:
movies_df.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [19]:
try:
    movie_transformed = movies_df[["id", "title", "budget", "revenue", "release_date", "vote_average", "vote_count"]]
    movie_transformed.drop_duplicates()
    movie_transformed.set_index("id", inplace=True)
except:
    movies_errors+=1
movie_count=movie_transformed.shape[0]
movie_transformed.head()

,title,budget,revenue,release_date,vote_average,vote_count
id,,,,,,
19995,Avatar,237000000,2787965087,2009-12-10,7.2,11800
285,Pirates of the Caribbean: At World's End,300000000,961000000,2007-05-19,6.9,4500
206647,Spectre,245000000,880674609,2015-10-26,6.3,4466
49026,The Dark Knight Rises,250000000,1084939099,2012-07-16,7.6,9106
49529,John Carter,260000000,284139100,2012-03-07,6.1,2124

In [20]:
opath = "Resources/Movie data/movie.csv"
movie_transformed.to_csv(opath)

In [21]:
#g_start_time = time.time()
trend = "Resources/google_trends.csv"
trend_df = pd.read_csv(trend)
trend_df = trend_df.rename(columns={"query": "title"})
trend_df.head()

  location  year         category  rank  title
0   Global  2001  Consumer Brands     1  Nokia
1   Global  2001  Consumer Brands     2   Sony
2   Global  2001  Consumer Brands     3    BMW
3   Global  2001  Consumer Brands     4   Palm
4   Global  2001  Consumer Brands     5  Adobe

In [22]:
try:
    g_transformed = trend_df[trend_df['location'] == 'Global']
    g_transformed.drop_duplicates("id", inplace=True)
    g_transformed.set_index("id", inplace=True)
    g_transformed.dropna(how="any")
except:
    g_errors+=1
g_count=g_transformed.shape[0]
g_transformed.head()

  location  year         category  rank  title
0   Global  2001  Consumer Brands     1  Nokia
1   Global  2001  Consumer Brands     2   Sony
2   Global  2001  Consumer Brands     3    BMW
3   Global  2001  Consumer Brands     4   Palm
4   Global  2001  Consumer Brands     5  Adobe

In [23]:
tpath = "Resources/Movie data/trend.csv"
g_transformed.to_csv(tpath)

In [24]:
connection_string = "postgres:postgres@localhost:5432/Movie_etl"
engine = create_engine(f'postgresql://{connection_string}')

In [25]:
movie_start_time = time.time()
movie_transformed.to_sql(name='movie', con=engine, if_exists='append')
movie_end_time=time.time() - movie_start_time

In [26]:
g_start_time = time.time()
g_transformed.to_sql(name='trend', con=engine, if_exists='replace')
g_end_time=time.time() - g_start_time

In [27]:
print(movie_end_time)
print(g_end_time)

0.5370712280273438
0.1536266803741455

In [28]:
etl_report=pd.DataFrame({'domain' : ['movie', 'trend'],
                       'row_counts' : [movie_count, g_count],
                        'processing_time':[str(round(movie_end_time,2)) + ' seconds', str(round(g_end_time,2)) + ' seconds'],
                         'error_count':[movies_errors, g_errors]})

In [29]:
etl_report

  domain  row_counts processing_time  error_count
0  movie        4803    0.54 seconds            0
1  trend        1135    0.15 seconds            1

In [33]:
etl_report.to_html('etl_report.html',index=False)
trends_new = g_transformed[g_transformed['category'] == 'Movies']
trends_new

      location  year category  rank                      title
10      Global  2001   Movies     1               Harry Potter
11      Global  2001   Movies     2          Lord of the Rings
12      Global  2001   Movies     3              Final Fantasy
13      Global  2001   Movies     4                Tomb Raider
14      Global  2001   Movies     5                      Shrek
80      Global  2002   Movies     1                  Spiderman
81      Global  2002   Movies     2               Harry Potter
82      Global  2002   Movies     3                  Star Wars
83      Global  2002   Movies     4                    Jackass
84      Global  2002   Movies     5                 Scooby Doo
5180    Global  2013   Movies     1               Man of Steel
5181    Global  2013   Movies     2                 Iron Man 3
5182    Global  2013   Movies     3                World War Z
5183    Global  2013   Movies     4           Django Unchained
5184    Global  2013   Movies     5            Despicable Me 2
10390   Global  2015   Movies     1             Jurassic World
10391   Global  2015   Movies     2                  Furious 7
10392   Global  2015   Movies     3            American Sniper
10393   Global  2015   Movies     4        Fifty Shade of Grey
10394   Global  2015   Movies     5                    Minions
13190   Global  2016   Movies     1                   Deadpool
13191   Global  2016   Movies     2              Suicide Squad
13192   Global  2016   Movies     3               The Revenant
13193   Global  2016   Movies     4  Captain America Civil War
13194   Global  2016   Movies     5          Batman v Superman
16250   Global  2017   Movies     1                         IT
16251   Global  2017   Movies     2               Wonder Woman
16252   Global  2017   Movies     3       Beauty and the Beast
16253   Global  2017   Movies     4                      Logan
16254   Global  2017   Movies     5             Justice League
18840   Global  2018   Movies     1              Black Panther
18841   Global  2018   Movies     2                 Deadpool 2
18842   Global  2018   Movies     3                      Venom
18843   Global  2018   Movies     4     Avengers: Infinity War
18844   Global  2018   Movies     5          Bohemian Rhapsody
21395   Global  2019   Movies     1          Avengers: Endgame
21396   Global  2019   Movies     2                      Joker
21397   Global  2019   Movies     3             Captain Marvel
21398   Global  2019   Movies     4                Toy Story 4
21399   Global  2019   Movies     5                    Aquaman
24015   Global  2020   Movies     1                   Parasite
24016   Global  2020   Movies     2                       1917
24017   Global  2020   Movies     3              Black Panther
24018   Global  2020   Movies     4                    365 Dni
24019   Global  2020   Movies     5                  Contagion